@use "../../../../variables.scss";

.squares {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  width: fit-content;
  background-image: url(variables.$landscapeImage);
  background-size: 100% 100%;
  margin: 0 auto;
  box-shadow: 0 0.5vw 0.5vw 0.5vw black;
}
