<div class="main-board-wrapper">
  <div class="main-board" *ngIf="gameData$ | async as gameState">
    <app-score-panel [isGameOn]="isGameOn"
                     [timeLeft]="timeLeft"
                     [score]="score">
    </app-score-panel>
    <div class="squares">
      <app-square *ngFor="let square of squares; index as i"
                  [isRobotHere]="gameState.robotPosition === i"
                  [isFossilHere]="(fossilPosition$ | async) === i"
                  [robotDirection]="gameState.robotDirection"
                  [robotSprite]="robotSpriteUrl"
                  [fossilSprite]="fossilSpriteUrl">
      </app-square>
    </div>
    <div class="panel-wrapper">

      <app-player-panel [timeLeft]="timeLeft"
                        [isPlaying]="isGameOn"
                        [isGameOver]="isGameOver"

                        (turnedLeft)="onTurnLeft(gameState.robotDirection)"
                        (moved)="onMove(gameState.robotDirection, gameState.robotPosition)"
                        (turnedRight)="onTurnRight(gameState.robotDirection)"
                        (started)="start()">
      </app-player-panel>

    </div>
  </div>
</div>
