<div class="main-board-wrapper">
  <div class="main-board" *ngIf="gameData$ | async as robotState">
    <rbt-score-panel [isGameOn]="isGameOn"
                     [timeLeft]="timeLeft"
                     [score]="score">
    </rbt-score-panel>
    <rbt-landscape [squares]="squares"
                   [robotState]="robotState"
                   [fossilPosition]="fossilPosition$ | async">
    </rbt-landscape>
    <rbt-controls-panel [timeLeft]="timeLeft"
                        [isPlaying]="isGameOn"
                        [isGameOver]="isGameOver"

                        (turnedLeft)="onTurnLeft(robotState.direction)"
                        (moved)="onMove(robotState.direction, robotState.position)"
                        (turnedRight)="onTurnRight(robotState.direction)"
                        (started)="start()">
    </rbt-controls-panel>
  </div>

  <ng-container  *ngIf="!isGameOn && isGameOver">
    <rbt-game-over [isActive]="isGameOver" (startedAgain)="start()"></rbt-game-over>
  </ng-container>
</div>
