@use "../../variables.scss";

.main-board-wrapper {
  @media screen and (max-width: variables.$mobile) {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .main-board {
    @media screen and (max-width: variables.$mobile) {
      margin: 0 auto;
      padding: 75px 0 0 0;
    }

    .time {
      color: white;
    }
  }
}
