<div class="main-board" *ngIf="mainGameData$ | async as gameState">
    <div class="squares">
      <app-square *ngFor="let square of squares; index as i"
                  [isRobotHere]="gameState.robotPosition === i"
                  [isFossilHere]="(fossilPosition$ | async) === i"
                  [robotDirection]="gameState.robotDirection"
                  [robotSprite]="robotSpriteUrl"
                  [fossilSprite]="fossilSpriteUrl">
      </app-square>
    </div>
    <div class="panel-wrapper">
      <app-player-panel (turnedLeft)="onTurnLeft(gameState.robotDirection)" 
                        (moved)="onMove(gameState.robotDirection)" 
                        (turnedRight)="onTurnRight(gameState.robotDirection)">
    </app-player-panel>
    </div>
</div>
