@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

html, body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: #464646;
    font-family: 'Press Start 2P', cursive;
}

button, button:focus, button:focus-visible {
    background: transparent;
    outline: none;
    border: none;
    font-family: 'Press Start 2P', cursive;
}