// background images...
$landscapeImage: '/assets/terrain.png';
$panelImage: '/assets/control-panel.gif';

// buttons...
$turnLeftButton: '/assets/left-arrow.png';
$turnRightButton: '/assets/right-arrow.png';
$moveButton: '/assets/forward-arrow.png';

// breakpoints...
$mobile: 600px;