@use "../../../../../variables.scss";

.single-square {
  border: 1px solid black;
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;

  @media screen and (max-width: variables.$mobile) {
    border: 1px solid black;
    width: 19vw;
    height: 19vw;
  }

  .robot-image {
    max-width: 90px;

    @media screen and (max-width: variables.$mobile) {
      max-width: 100%;
    }

    &.up {
      transform: rotate(180deg);
    }
    &.down {
      transform: rotate(0deg);
    }
    &.right {
      transform: rotate(-90deg);
    }
    &.left {
      transform: rotate(90deg);
    }
  }

  .fossil-image {
    @media screen and (max-width: variables.$mobile) {
      width: 60%;
    }
  }
}
